/* Global Background */
.page-bg {
    background: linear-gradient(135deg, #dbeafe, #eef2ff);
    min-height: 100vh;
}

/* Navbar */
.stylish-nav {
    background: #1e3a8a !important;
}

.nav-text {
    font-size: 17px;
    margin-left: 10px;
}

/* Main Card */
.main-card {
    background: #ffffff;
    border-radius: 25px;
}

/* Heading */
.heading-text {
    color: #1e3a8a;
    letter-spacing: 1px;
}

/* Upload Card */
.upload-card {
    background: #f1f5ff;
    border-radius: 20px;
    transition: 0.3s ease;
}

.upload-card:hover {
    transform: translateY(-3px);
}

/* Upload Button */
.custom-upload-btn {
    background: linear-gradient(90deg, #2563eb, #3b82f6);
    color: #fff;
    padding: 12px 20px;
    border-radius: 12px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.custom-upload-btn:hover {
    background: #1e40af;
}

/* PDF Preview */
.preview-frame {
    width: 100%;
    height: 330px;
    border-radius: 12px;
    background: white;
    border: 1px solid #bfd0ff;
}

/* Analyze Button */
.analyze-btn {
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg, #059669, #10b981);
    color: white;
    border-radius: 40px;
    border: none;
}

.analyze-btn:hover {
    background: #047857;
}

/* Results Box */
.result-box {
    background: #e0f2fe;
}

.result-heading {
    color: #0369a1;
}

/* Progress Bar */
.progress-custom {
    background: linear-gradient(90deg, #16a34a, #22c55e);
    font-size: 15px;
    text-align: center;
}

/* Text colors */
.text-green { color: green; font-weight: bold; }
.text-red { color: red; font-weight: bold; }

/* Chart Card */
.chart-card {
    background: #ffffff;
    border-radius: 20px;
}

/* Export Button */
.export-btn {
    background: linear-gradient(90deg, #ea580c, #f97316);
    color: white;
    padding: 14px;
    border-radius: 12px;
    font-size: 17px;
    border: none;
}

.export-btn:hover {
    background: #c2410c;
}
